<div class="container"
  data-controller="duel-subscription"
  data-duel-subscription-duel-id-value="<%= @duel.id %>"
>
  <h1>#<%= @duel.id %></h1>

  <div class=<%=@display_waiting_class%> data-duel-subscription-target="waiting">
    <p>Waiting for an other player to join</p>
    <p>You can directly share the URL : XXX</p>
  </div>
  <div class=<%=@display_duel_class%> data-duel-subscription-target="display">
    <p> DUEL INFO</p>
    <p data-duel-subscription-target="playerToPlay" ></p>
    <div class=<%=@display_theme_choice_class%> data-duel-subscription-target="themeChoice">
      <% @theme_choices.each do |theme| %>
        <button class= "btn btn-purple" data-theme-id= <%=theme.id%> data-url= <%=duel_duel_quizzs_url(@duel)%> data-action="click->duel-subscription#themeChoice"> <%=theme.name%></button>

      <% end %>
    </div>
  </div>
  <div >
    <%= button_to "", "a", data: { confirm: "Confirmer ?", "duel-subscription-target" => "playButton" }, method: :get, class: "btn btn-link btn-purple d-none" %>
  </div>
</div>
