<%= puts "flashcard status : #{flashcard.status}" %>
  <% question_answer = flashcard.question_answer %>
  <% if index !=0 %>
    <% question_class = "class = 'questions d-none  questionCard#{index}'" %>
  <% else %>
    <% question_class = "class = 'questions questionCard#{index}'" %>
  <% end %>
  <div <%= question_class.html_safe %> style="height: calc(100vh - 190px)" data-flashcard-answer-target = <%="questionCard#{index}"%>>
    <div class = card-question>
      <h2><%=question_answer.question %></h2>
      <% if question_answer.image_src %>
        <% if flashcard.category.name == "Drapeaux" %>
          <% img_path = "world_flags" %>
        <% elsif flashcard.category.name == "Localisation"%>
          <% img_path = "world_localisations" %>
        <% end %>
        <%= image_tag "#{img_path}/#{question_answer.image_src}", width: 350 %>
      <% end %>
    </div>
    <div class="white-container">
      <div class= "flashcard-answer d-none">
        <p> <%= question_answer.answer %></p>
      </div>
    </div>
    <button class="btn btn-purple btn-big-no-padding" data-action="click->flashcard-answer#seeAnswer">Voir réponse</button>
    <div class="d-none auto-evaluation-buttons"
        data-action="click->flashcard-answer#autoEvaluation"
        data-question-card-count=<%=index%>
        data-flashcard-id=<%=flashcard.id%>
        data-url = <%= flashcard_url(flashcard) %>>
      <button class="btn btn-red btn-big-no-padding" data-auto-evaluation = "again" >
        Encore<br/>(<%= human_friendly_time(schedule_forecast(flashcard, "again"))%>)
      </button>
      <%= puts "flashcard status 2 : #{flashcard.status}" %>
      <% if @learn_or_revise == "revise" %>
        <%= puts "flashcard status 3 : #{flashcard.status}" %>
        <button class="btn btn-yellow btn-big-no-padding" data-auto-evaluation = "hard">Difficile<br/>(<%=human_friendly_time(schedule_forecast(flashcard, "hard"))%>)</button>
      <% end %>
      <button class="btn btn-blue btn-big-no-padding" data-auto-evaluation = "good">Bien<br/>(<%= human_friendly_time(schedule_forecast(flashcard, "good"))%>)</button>
      <% if flashcard.status != "relearning" %>
        <button class="btn btn-green btn-big-no-padding" data-auto-evaluation = "easy">Facile<br/>(<%= human_friendly_time(schedule_forecast(flashcard, "easy"))%>)</button>
      <% end %>
    </div>
  </div>
