<div class="theme-title theme-show">
  <h1><i class="fas fa-atlas"></i><%=@theme.name.upcase%></h1>
</div>

<div class="my-3"></div>
<div class="level-show flashcard" data-controller="flashcard-answer" data-flashcards-to-display-count = <%=@flashcards.count%> data-flashcards-count = "0" data-flashcards-total-count = <%=@flashcards.count%> data-stimulus-connect-count= "0">
  <div class="questions_count">
    <div class="card-count-details">
      <div class="card-progressbar-wrapper">
        <div title="card-count" class="progressbar card-completion"  data-flashcard-answer-target = "cardCountBar"></div>
      </div>
      <div class= "card-number">
        <p data-flashcard-answer-target = "cardCountNumber">0/<%=@flashcards.count%></p>
      </div>
    </div>
  </div>
  <div class="my-3"></div>
  <div class="container">
    <%@flashcards.each_with_index do |flashcard, index| %>
      <%= render "unique_flashcard", index: index, flashcard: flashcard %>
    <% end %>
    <div>
      <% url = "/theme/#{@theme.id}/flashcards/results" %>
      <a class="d-none" data-flashcard-answer-target="endButton" href= <%=url%>></a>
    </div>
  </div>
</div>


<% sentence = "
  <h2>Essaye de trouver la réponse, puis clique sur \"voir la réponse\". </h2>
  <br>
  <h2>Ensuite auto-évalue toi, en fonction, cette carte te sera de nouveau montrer au moment opportun.</h2>
  <br>
  <h2>Pour en savoir plus rendez-vous dans la rubrique FAQ </h2>"
  %>
<%= render "shared/user_indications", sentece: sentence %>
