<div class="character-banner">
  <div class= "avatar-container" data-sprite-target= "avatar">
    <%= image_tag @user.character.hair, class: "character-hair", "data-sprite-target": "hair" %>
    <%= image_tag @user.character.head, class: "character-head", "data-sprite-target": "head" %>
    <%= image_tag @user.character.body, class: "character-body", "data-sprite-target": "body" %>
  </div>
  <div class="character-description">
    <% jc_period = (@user.level.beginning_year < 0 ? "av J-C" : "ap. J-C")  %>
    <p><%= "#{@user.level.beginning_year} #{jc_period}" %></p>
    <p><%= "#{@user.level.period} - #{@user.level.sub_period}"  %></p>
    <p>Lvl <%= @user.level.level %> - <%= @user.level.social_type %> </p>
    <div class="character-health">
      <% next_level_xp =  Level.find_by(level: @user.level.level + 1).required_xp %>
      <p class="icon"><i class="fa-solid fa-heart"></i></p>
      <%= render "shared/progress_bar", value: (@user.hp.to_f * 100 / @user.hp_max).round, display_with: "#{@user.hp}\/#{@user.hp_max}"   %>
    </div>
    <div class="character-xp">
      <p class="icon"><i class="fa-solid fa-diamond"></i></p>
      <%= render "shared/progress_bar", value: (@user.xp.to_f * 100 / next_level_xp).round, display_with: "#{@user.xp}\/#{next_level_xp}"   %>
    </div>
  </div>
</div>
