<div class="row">
  <div class="theme-block-list quizz mt-5 col-md-6" data-controller="theme-index-display">
    <div class="banner">
      <h2><strong>QUIZZ</strong></h2>
      <div class="tabs">
        <button class="active-tab btn-tab" data-action="click->theme-index-display#displayQuizzsDiv"
        data-theme-index-display-target = "themeTab">Categorie</button>
        <button class="btn-tab" data-action="click->theme-index-display#displayQuizzsDiv" data-theme-index-display-target = "leaderboardTab">Leaderboard</button>
      </div>
    </div>
    <div data-theme-index-display-target = "themeDiv">
      <%= render "theme_cards_display", quizz: true %>
    </div>
    <div class= "d-none" data-theme-index-display-target = "leaderboardDiv">
      <%= render "theme_leaderboard" %>
    </div>
  </div>
  <div class="theme-block-list flashcards mt-5 col-md-6">
    <div class="banner">
      <h2><strong>FLASHCARDS</strong></h2>
      <% flashcards_to_revise_count = current_user.flashcards.select{|flashcard| flashcard.repetition > 0}.count %>
      <% flashcards_to_learn_count = current_user.flashcards.select{|flashcard| flashcard.repetition == 0}.count %>

      <div class="tabs">
        <p class="active-tab">Nouvelle(<%= flashcards_to_learn_count %>)</p>
        <p>Réviser(<%= flashcards_to_revise_count %>)</p>
      </div>
    </div>
    <%= render "theme_flashcard_card_creation", quizz: false %>
  </div>
</div>
