<div class="subthemes-display" data-controller = "theme-show" data-count = <%=theme_level.subthemes.count%>   >
  <% theme_level.subthemes.each_with_index do |subtheme, index| %>
    <% subtheme_progress = @user.subtheme_progresses.find_by(subtheme: subtheme) %>
    <% @subtheme_unlocked = (subtheme_progress &.unlocked)  %>
    <% render "shared/link_display", subtheme: subtheme, for_: "subtheme" %>

    <%=link_to @subtheme_path.html_safe, class: @cancel_hovering do%>
      <div <%=@subtheme_hovering.html_safe%>   style='filter: blur(<%=@level_blur%>px)'>

        <div class= "cards-number">
          <h2><%= subtheme.question_answers.count %></h2>
          <p>cartes</p>
        </div>
        <div class="content">
          <h2><%= subtheme.name %></h2>
          <div class= "achievement-count" style='filter: blur(<%=@level_blur%>px)'>
            <%= image_tag "crown.png" %>
            <% total_subthemes_crowns = subtheme.quizz_levels.count * 3 %>
            <% user_total_crowns =  subtheme.records.where(user: current_user, crown_or_sphere: "crown").group(:quizz_level_id).maximum(:completion).sum{|k,v|v} %>
            <% user_total_spheres =  subtheme.records.where(user: current_user, crown_or_sphere: "sphere").group(:quizz_level_id).maximum(:completion).sum{|k,v|v} %>
            <% @user_total = user_total_crowns + user_total_spheres %>
            <% @completion = (subtheme.quizz_levels.count.zero? ? 0 : (@user_total.to_f / (total_subthemes_crowns) * 100)).round() %>
            <p> <%= @user_total %> / <%= total_subthemes_crowns %> </p>
          </div>
        </div>
        <div class="circle-container">
          <div class="circle-wrap "
            data-theme-show-target = "circleDiv<%=index%>"
            data-rotate<%=index%>=<%=@completion*1.8%>>
            <div class="circle">
              <div class="mask half">
                <div class="fill" data-theme-show-target= "circle<%=index%>"></div>
              </div>
              <div class="mask full" data-theme-show-target= "circle<%=index%>">
                <div class="fill" data-theme-show-target= "circle<%=index%>"></div>
              </div>
              <div class="inside-circle"> <%= @completion %>%</div>
            </div>
          </div>
        </div>
        <div class="badge-progress">
          <% if @subtheme_unlocked %>
            <div class="badge-display">
              <% subtheme.categories.each do |category| %>
                <% @category_unlock = current_user.category_progresses.find_by(category: category) %>
                <% if @category_unlock &.unlocked %>
                  <% @opacity = 1  %>
                <% else %>
                  <% @opacity = 0.15 %>
                <% end %>
                <%= cl_image_tag category.photo.key, height: 30, crop: :fill, style: "opacity:#{@opacity}" %>
              <% end %>
            </div>
            <% else %>
              <%= image_tag "cadenas.png", height: 50, style: "opacity:0.4;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
