<% @all_best_themes_records = findBestAllThemesRecords() %>
<% @user_ranking = user_ranking(@all_best_themes_records) %>
<% @best_records_count = @all_best_themes_records.count %>
<% @all_best_themes_records = @all_best_themes_records.paginate(page: params[:page], per_page: 10) %>
<% offset = (params[:page] ? params[:page].to_i : 1) %>
<% is_first_page = !params[:page] || params[:page] == "1"  %>
<div class="themes-list">
  <div class="white-container height-100-no-justify">
    <div class = "best-record-display">
      <div class= "user-details">
        <p></p>
        <p>Héro</p>
      </div>
      <div class= "key-record-results">
        <div>
          <%= image_tag("sphere.png") %>
        </div>
        <div>
          <%= image_tag("crown.png") %>
        </div>
      </div>
    </div>
    <hr class="horizontal-divider-light">
    <% @all_best_themes_records.each_with_index do |best_record, index| %>
      <% background = "" %>
      <% background = "green-background" if current_user.id == best_record[:user_id] %>
      <% background = "purple-20-background" if index + 1 == 1 && is_first_page %>
      <% background = "purple-10-background" if index + 1 == 2 && is_first_page %>
      <% background = "purple-5-background" if index + 1 == 3 && is_first_page %>
      <% class_best_record = "class = 'best-record-display #{background}'"%>
      <div <%= class_best_record.html_safe %>>
        <div class= "user-details">
          <p><%= (index + 1) + (offset - 1) * 10 %></p>
          <%= link_to "#{User.find(best_record[:user_id]).name}", user_profile_path(best_record[:user_id])%>
        </div>
        <div class= "key-record-results">
          <p> <%= best_record[:sphere_completion] %></p>
          <p> <%= best_record[:crown_completion] %></p>
        </div>
      </div>
      <hr class="horizontal-divider-light little-margin">
    <% end %>

    <%= will_paginate @all_best_themes_records, "data-action": "click->theme-index-display#cancelScroll", inner_window: 1, outer_window: 0, class: "pagination pagination-enhanced apple_pagination", :previous_label => '←Préc.', :next_label => 'Suiv.→' if @all_best_themes_records%>
  </div>
</div>
