<div data-controller="sprite" data-character-info = <%=@display_indication%> >

  <%= render 'character_banner' %>
  <div class="container">
    <%= render "quizz_flashcard_all_themes" %>
  </div>

  <%= render "character_info_modal" %>

</div>

<% sentence = "
  <h2>Les quizz te permettent de : </h2>
  <br>
  <p>- Débloquer les flashcards la thématique choisie</p>
  <p>- Gagner de l'or pour débloquer des bonus</p>
  <p>- Gagner de l'expérience pour faire évoluer ton héro</p>
  "
  %>
<%= render "shared/user_indications", sentence: sentence %>

<%= render "shared/footer" %>
