<div class="theme-title theme-show">
  <h1><i class="fas fa-atlas"></i><%=@theme.name.upcase%></h1>
</div>
<div class="container theme-show" data-controller = "theme-show" data-count = <%=@theme.subthemes.count%>>
  <div class="theme-level">
    <% @target_index = 0 %>
    <% @theme.theme_levels.includes([:categories]).order(:level).each do |theme_level| %>
      <% unless is_unlocked_for_user?(theme_level, "theme_level", @user) %>
        <% @level_blur = 2 %>
      <% end %>
      <div class="my-3"></div>
      <div class="theme-level-separator">
        <h2><%= theme_level.name.upcase %></h2>
      </div>
      <div class="my-3"></div>
      <div class="card-objective" style='filter: blur(<%=@level_blur%>px)'>
        <%= image_tag "quest2.png" %>
        <p> <%=theme_level.objective.html_safe%> </p>
      </div>
      <div class="my-3"></div>
      <%= render 'subthemes_display', theme_level: theme_level %>
    <% end %>
  </div>
</div>

<% sentence = "
  <h2>Progresse à travers les niveaux pour :</h2>
  <br>
  <p>- Débloquer l'ensemble des badges de la thématique</p>
  <p>- Décrocher des sphères de connaissance</p>"

  %>
<%= render "shared/user_indications", sentence: sentence %>

<%= render "shared/footer" %>
