<div class="container theme-show">
  <div class="theme-title my-5">
    <%= cl_image_tag @theme.photo.key, height: 50, crop: :fill %>
    <h1><%=@theme.name%></h1>
  </div>
  <div class="theme-level">
    <% @theme.theme_levels.order(:level).each do |theme_level| %>
      <% if !@user.theme_level_progresses.find_by(theme_level: theme_level).unlocked %>
        <% @level_blur = 2 %>
      <% end %>
      <div class="theme-level-separator my-5">
        <h2><%= theme_level.name.upcase %></h2>
      </div>
      <div class="card-objective mb-3" style='filter: blur(<%=@level_blur%>px)'>
        <%= image_tag "quest.png" %>
        <p> <%=theme_level.objective%> </p>
      </div>
      <%= render 'subthemes_display', theme_level: theme_level %>
    <% end %>
  </div>
</div>
