<% total_quizzs_crowns = quizz.quizz_levels.count * 3%>
<% @user_total = quizz_total_crowns_and_spheres(quizz) %>
<% @completion = (quizz.quizz_levels.count.zero? ? 0 : (@user_total.to_f / (total_quizzs_crowns) * 100)).round() %>


<% @all_best_quizz_records = findBestQuizzRecords(quizz) %>
<% @user_ranking = user_ranking(@all_best_quizz_records) %>
<% @best_records_count = @all_best_quizz_records.count %>
<% @all_best_quizz_records = @all_best_quizz_records.paginate(page: params[:page], per_page: 10) %>


<% if !@user_quizz_progress_unlocked %>
  <%= render "shared/set_lock_and_blur", for_: "quizz" %>
<% else %>
  <% @quizz_blur_style = "" %>
<% end %>
<div class="quizz-card-banner" <%= @quizz_blur_style %>>
  <div class="cards-number">
    <h2><%= quizz.question_answers.count %></h2>
    <p>cartes</p>
  </div>
  <div class="content">
    <% title = (quizz.name == "MASTER" ? "MASTER" : "QUIZZ #{quizz.ordering}") %>
    <h2> <%= title %> </h2>
    <div class="achievement-count">
      <%= image_tag "crown.png" %>
      <p> <%= @user_total %> / <%= total_quizzs_crowns %> </p>
    </div>
  </div>
  <% data_bs_target = (in_modal ? " " : "data-bs-target='#exampleModal#{quizz.id}'".html_safe)  %>
  <% data_bs_toggle = (in_modal ? " " : "data-bs-toggle='modal'".html_safe)  %>
  <button class="ranking"  <%=data_bs_toggle%> <%=data_bs_target%>>
    <h2><%= @user_ranking %><sup>ème</sup></h2>
    <p>/ <%= @best_records_count %></p>
  </button>
</div>
<hr class= "horizontal-divider-light width-80">
