<% total_quizzs_crowns = quizz.quizz_levels.count * 3 %>
<% user_total_crowns =  quizz.records.where(user: current_user, crown_or_sphere: "crown").group(:quizz_level_id).maximum(:completion).sum{|k,v|v} %>
<% user_total_spheres =  quizz.records.where(user: current_user, crown_or_sphere: "sphere").group(:quizz_level_id).maximum(:completion).sum{|k,v|v} %>
<% @user_total = user_total_crowns + user_total_spheres %>
<% @completion = (quizz.quizz_levels.count.zero? ? 0 : (@user_total.to_f / (total_quizzs_crowns) * 100)).round() %>




<% if !@user_quizz_progress_unlocked %>
  <%= render "shared/set_lock_and_blur", for_: "quizz" %>
<% else %>
  <% @quizz_blur_style = "" %>
<% end %>
<div class="quizz-card-banner" <%= @quizz_blur_style %>>
  <div class="cards-number">
    <h2><%= quizz.question_answers.count %></h2>
    <p>cartes</p>
  </div>
  <div class="content">
    <h2> QUIZZ #<%= quizz.ordering %> </h2>
    <div class="achievement-count">
      <%= image_tag "crown.png" %>
      <p> <%= @user_total %> / <%= total_quizzs_crowns %> </p>
    </div>
  </div>

  <%# <% render "shared/quizz_records_modal", quizz: quizz  %>
    <button class="ranking" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h2>0<sup>ème</sup></h2>
    <p>/150</p>
  </button>
</div>
<hr class= "horizontal-divider-light width-80">
