<!-- Modal -->
<div class="modal fade character-modal" id="staticBackdrop100" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-modal="true" data-sprite-target= <%="characterInfo"%>>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1> Personalise ton héro </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="my-3"></div>
      <div class="modal-body">
        <div class= "avatar-container">
          <%= image_tag asset_path(@user.character.hair), class: "character-hair", "data-sprite-target": "hairModal" %>
          <%= image_tag asset_path(@user.character.head), class: "character-head", "data-sprite-target": "headModal" %>
          <%= image_tag asset_path(@user.character.body), class: "character-body", "data-sprite-target": "bodyModal" %>
          <%= image_tag asset_path(@user.character.helmet), class: "character-helmet", "data-sprite-target": "helmetModal" %>
          <%= image_tag asset_path(@user.character.weapon), class: "character-weapon", "data-sprite-target": "weaponModal" %>
          <%= image_tag asset_path(@user.character.shield), class: "character-shield", "data-sprite-target": "shieldModal" %>
        </div>
        <div class="my-3"></div>
        <div class="img-choices">
          <div class="my-2"></div>
          <% ["hair", "head", "body", "helmet", "weapon", "shield"].each do |item_type|%>
            <div class="body-category">
              <% @item_status[:bought][item_type.to_sym].each do |hair| %>
                <button class= "single-item btn btn-purple" data-action="click->sprite#changeUserSprite" data-type=<%=item_type%> data-src= <%=asset_path("#{hair.img_src}")%> >
                  <%= image_tag hair.img_src, height: 50, class:"#{item_type}-img"  %>
                </button>
              <% end %>
              <% @item_status[:unbought][item_type.to_sym].each do |hair| %>
                <div class= "single-item locked", title="A débloquer chez le marchand", data-type=<%=item_type%>, data-src= <%=asset_path("#{hair.img_src}")%> >
                  <%= image_tag hair.img_src, height: 50, class:"#{item_type}-img"  %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="my-2"></div>
        </div>
      </div>
      <div class="modal-footer">
        <% url = character_url(@current_user.character) %>
        <button type="button" class="btn btn-purple" data-bs-dismiss="modal", data-action="click->sprite#confirm", data-url=<%=url%>>Confirmer</button>
      </div>
    </div>
  </div>
</div>
