<div class="my-5"></div>

<div class="footer">
  <div class="title">
    <h2>LearnForLife</h2>
  </div>

  <div class="links">
    <div class = "main-links">
      <div class="contact">
        <%= link_to "Contact" %>
      </div>
      <div>
        <%= link_to "FAQ" %>
      </div>
    </div>

    <hr class= "white-horizontal-divider-light little-margin">

    <div class="legal">
      <%= link_to "Conditions d'utilisation" %>
      <%= link_to "Politique de confidentialité" %>
      <%= link_to "Politique de cookies" %>
    </div>
  </div>
</div>
