<div class="levels-display">
  <% quizz.quizz_levels.each do |level| %>
    <% @user_quizz_level_progress_unlocked = is_unlocked_for_user?(level, "quizz_level", current_user) %>
    <%= render "shared/link_display", level: level, for_: "level", in_modal: in_modal %>
    <%=link_to @level_path, class: @cancel_hovering do%>
      <div <%=@level_hovering.html_safe%>>
        <% if !@user_quizz_level_progress_unlocked && @user_quizz_progress_unlocked %>
          <%= render "shared/set_lock_and_blur", for_: "quizz_level" %>
        <% elsif !@user_quizz_level_progress_unlocked %>
            <% @level_blur_style = 'style="filter: blur(2px); opacity:0.4"'.html_safe  %>
          <% else %>
            <% @level_blur_style = "" %>
        <% end %>
        <div <%= @level_blur_style %>>
          <%= render "shared/level_stars", level: level %>
          <%= level.name %>
        </div>
        <%= render "shared/level_crowns", level: level %>
      </div>
    <% end %>
  <% end %>
</div>
