<% quizz_levels_records = BestRecord.all.joins(:quizz_level,record: :user).where(quizz_level: {quizz:quizz}).group("users.name").pluck('users.name, SUM(records.completion), SUM(records.seconds_duration), SUM(records.milliseconds_duration)') %>

<% quizz_levels_records.map! do |record| %>
<% {name: record[0], completion: record[1], seconds_duration: record[2], milliseconds_duration: record[3]} %>
<% end %>

<% @all_best_quizz_records = quizz_levels_records.sort_by{|record| [-record[:completion], record[:seconds_duration], record[:milliseconds_duration]]} %>

<% @all_best_quizz_records = @all_best_quizz_records.paginate(page: params[:page], per_page: 10) %>

<% offset = (params[:page] ? params[:page].to_i : 1) %>
<% is_first_page = !params[:page] || params[:page] == "1"  %>


<div class="modal-body">
  <div class="white-container">
    <div class = "best-record-display">
    <div class= "user-details">
      <p></p>
      <p>Héro</p>
    </div>
    <div class= "key-record-results">
      <div>
        <%= image_tag("crown.png") %>
      </div>
      <p><i class="fa-solid fa-stopwatch"></i></p>
    </div>
    </div>
    <hr class="horizontal-divider-light">
    <% @all_best_quizz_records.each_with_index do |best_record, index| %>
      <% background = "" %>
      <% background = "green-background" if current_user.name == best_record[:user] %>
      <% background = "purple-20-background" if index + 1 == 1 && is_first_page %>
      <% background = "purple-10-background" if index + 1 == 2 && is_first_page %>
      <% background = "purple-5-background" if index + 1 == 3 && is_first_page %>
      <% class_best_record = "class = 'best-record-display #{background}'"%>
      <div <%= class_best_record.html_safe %>>
        <div class= "user-details">
          <p><%= (index + 1) + (offset - 1) * 10 %></p>
          <p><%= best_record[:name] %></p>
        </div>
        <div class= "key-record-results">
          <p> <%= best_record[:completion] %></p>
          <div class="time-display">
            <p> <%= best_record[:seconds_duration] %>.</p>
            <p> <%= best_record[:milliseconds_duration] %>s</p>
          </div>
        </div>
      </div>
      <hr class="horizontal-divider-light">
    <% end %>
    <%= will_paginate @all_best_quizz_records,  "data-action": "click->#{js_controller}#cancelScroll","data-quizz": quizz.id, inner_window: 1, outer_window: 1, class: "pagination pagination-enhanced apple_pagination", :previous_label => '←Préc.', :next_label => 'Suiv.→' if @all_best_quizz_records%>
  </div>
</div>
