<!-- Modal -->
<div class="modal fade" id=<%="staticBackdrop#{@count}"%> data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-modal="true" data-record-target= <%="achievement#{@count}"%>>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Détails</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="unlock_item_display">
          <%= image_tag "padlock.png", height: 130 %>
          <p><%= sentence %></p>
          <% if type == "quizz" || type == "quizz_level" %>
            <% @user_quizz_progress_unlocked = true %>
            <div class="quizz-card">
              <%= render "shared/card_display", quizz: quizz %>
              <%= render "shared/level_display", quizz: quizz %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <% toggle_next_modal = "data-bs-toggle='modal' data-bs-target= '#staticBackdrop#{@count+1}'".html_safe if @count != @total_unlocked_items%>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" <%=toggle_next_modal%> >Close</button>
      </div>
    </div>
  </div>
</div>
