<div class="results answers col-lg-6">
  <div class="banner">
    <h2>Réponses</h2>
  </div>
  <div class="record-card">
    <div class="white-container">
      <div class= "result-number">
        <div class="good-answer-count">
          <i class="fas fa-check-circle good-answer"></i>
          <p><%= (@record.score_percentage * @number_of_questions / 100.to_f).round(0)%></p>
        </div>
        <div class="bad-answer-count">
          <i class="fas fa-times-circle bad-answer"></i>
          <p><%= (((100-@record.score_percentage) * @number_of_questions) / 100.to_f).round(0)%></p>
        </div>
      </div>
      <div class="all-answers">
        <hr class="horizontal-divider-light">
        <% @synthesis.each_with_index do |question_synthese, index| %>
          <div class= "unique-answer">
            <div class="question-number-answer">
              <%# <div class= "question-number"> %>
                <%# <p> <%= index + 1 %>
              <%# </div> %>
              <div class = "question-answer">
                <p> <strong><%=question_synthese[:question].capitalize%></strong> </p>
                <p><%=question_synthese[:answer]%> -  <i>Ta réponse : <%=question_synthese[:user_answer]%></i></p>
              </div>
            </div>
            <% if question_synthese[:is_good] %>
              <i class="fas fa-check-circle good-answer" style="font-size:26px;"></i>
            <% else %>
              <i class="fas fa-times-circle bad-answer" style="font-size:26px;"></i>
            <% end %>
          </div>
          <hr class="horizontal-divider-light">
        <% end %>
      </div>
    </div>
  </div>
</div>
