<div data-controller="record" data-total-unlock-items = <%=@total_unlocked_items%>>
  <%= render 'shared/title_banner', quizz: @record.quizz, quizz_level: @record.quizz_level %>
  <%= render "achievements_calculation" %>
  <div class="my-3"></div>
  <%= render "key_results" %>
  <div class="container">
    <div class="row">
      <%= render "progress_card" %>
      <%= render "answers_card" %>
    </div>
    <div class="row">
      <%= render "leaderboard_card" %>
      <%= render "challenge_card" %>
    </div>

    <%= link_to "continue", themes_path, class: "btn btn-purple my-4 margin-auto" %>

  </div>
</div>

<%# TEST MODAL DESIGN %>
