<div class="container" data-controller="record" data-total-unlock-items = <%=@total_unlocked_items%>>
  <div class="record-show my-4">
    <%= image_tag "congratulation.png"%>
    <h2>NOUVEAU RECORD</h2>
    <div class = "crowns-display">
      <%= render "shared/crowns", crown_class: "completed-crown", number: @record.completion %>
      <%= render "shared/crowns", crown_class: "uncompleted-crown", number: 3-@record.completion %>
    </div>
    <hr class="horizontal-divider my-4">
    <div class="results-display">
      <div class="good-answer-count">
        <%= image_tag 'verifie.png' %>
        <p><%= @record.score_percentage * @number_of_questions / 100%></p>
      </div>
      <div class="bad-answer-count">
        <%= image_tag 'annuler.png' %>
        <p><%= ((100-@record.score_percentage) * @number_of_questions) / 100%></p>
      </div>
      <div class="duration">
        <%= image_tag 'sablier1.png' %>
        <div class="time">
          <p><%= @record.seconds_duration%>s</p>
          <p id="second_duration"><%= @record.milliseconds_duration%></p>
        </div>
      </div>
      <div class="details">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <%= image_tag "list.png" %>
        </button>
      </div>
    </div>
    <hr class="horizontal-divider my-4">
    <div class="win-synthesis">
      <div class="xp-and-gold-win">
        <div class="gold">
          <%= image_tag 'pieces.png' %>
          <p> <%= @gold_win  %> </p>
        </div>
        <div class="xp">
          <%= image_tag 'sablier1.png' %>
          <p> <%= @xp_win  %> </p>
        </div>
      </div>
      <div class="leader-board">
        <p>leaderboard</p>
      </div>
    </div>
    <%= link_to "continue", themes_path, class: "btn btn-purple my-4" %>
    <p>ADD SEE UNLOCKED ITEMS</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="height: 40px; background-color:black;">
  </div>

  <%# <% @unlocked_items[:quizz_level] = QuizzLevel.first%> %>
  <% @count = 0 %>
  <% if @unlocked_items[:quizz_level] %>
    <% @count += 1 %>
    <%= render 'achievement_modal',type: "quizz_level", sentence: "Félicitation, vous avez débloquez le niveau #{@unlocked_items[:quizz_level].name} du quizz #{@unlocked_items[:quizz_level].quizz.name}", quizz:@unlocked_items[:quizz_level].quizz%>
  <% end %>

  <% if @unlocked_items[:quizz] %>
    <% @count += 1 %>
    <%= render 'achievement_modal', type: "quizz", sentence: "Félicitation, vous avez débloquez le quizz #{@unlocked_items[:quizz].name}", quizz: @unlocked_items[:quizz]%>
  <% end %>

  <% if  @unlocked_items[:category] %>
    <% @count += 1 %>
    <%= render 'achievement_modal', type: "category", sentence: "Félicitation, vous avez terminé tous les quizz #{@unlocked_items[:category].name} de niveau #{@unlocked_items[:category].subtheme.theme_level.name} ! Et avez débloqué #{@unlocked_items[:theme_level].name} de #{@unlocked_items[:theme_level].theme.name}"%>
  <% end %>
</div>

<%= render 'synthesis_modal' %>
