<div class="container">
  <div class="record-show my-4">
    <%= image_tag "congratulation.png"%>
    <h2>NOUVEAU RECORD</h2>
    <div class = "crowns-display">
      <% 3.times do  %>
        <%= image_tag 'crown.png' %>
      <% end %>
    </div>
    <hr class="horizontal-divider my-4">
    <div class="results-display">
      <div class="good-answer-count">
        <%= image_tag 'verifie.png' %>
        <p>5</p>
      </div>
      <div class="bad-answer-count">
        <%= image_tag 'annuler.png' %>
        <p>5</p>
      </div>
      <div class="duration">
        <%= image_tag 'sablier1.png' %>
        <p>5</p>
      </div>
      <div class="details">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <%= image_tag "list.png" %>
        </button>
      </div>
    </div>
    <hr class="horizontal-divider my-4">
    <div class="win-synthesis">
      <div class="xp-and-gold-win">
        <div class="gold">
          <%= image_tag 'sablier1.png' %>
          <p> + 200</p>
        </div>
        <div class="xp">
          <%= image_tag 'sablier1.png' %>
          <p> + 200</p>
        </div>
      </div>
      <div class="leader-board">
        <p>leaderboard</p>
      </div>
    </div>
    <%= link_to "continue", themes_path, class: "btn btn-purple my-4" %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Détails</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="synthesis">
          <div class="question-synthese grid-title">
            <p>Question</p>
          </div>
          <div class="question-synthese grid-title">
            <p>Bonne réponse</p>
          </div>
          <div class="question-synthese grid-title">
            <p>Votre réponse</p>
          </div>
          <div class="question-synthese last-grid-column grid-title">
            <p>Ok ?</p>
          </div>
          <% @synthesis.each do |question_synthese| %>
            <div class="question-synthese">
              <p> <%=question_synthese[:question]  %> </p>
            </div>
            <div class="question-synthese">
              <p><%=question_synthese[:answer]%></p>
            </div>
            <div class="question-synthese">
              <p><%=question_synthese[:user_answer]%></p>
            </div>
            <div class="question-synthese last-grid-column">
              <% if question_synthese[:is_good] %>
                <%= image_tag 'verifie.png' %>
              <% else %>
                <%= image_tag 'annuler.png' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
