<%user_character_item = current_user.user_character_items.find_by(character_item: item)%>
<% if user_character_item.unlocked %>
  <% if user_character_item.bought %>
    <% item_status = "Already bought" %>
  <% else %>
    <% item_status = "To buy" %>
  <% end %>
<% else %>
  <% item_status = "To unlocked" %>
<% end %>

<% if (defined?(in_modal) && in_modal) || item_status == "Already bought" || item_status == "To unlocked" %>
  <%data_bs_target = ""%>
  <%data_bs_toggle = ""%>
<% else %>
  <%data_bs_target = "data-bs-target='#exampleModal#{item.id}'"%>
  <%data_bs_toggle = "data-bs-toggle='modal'" %>
<% end %>

<% blur_filter = "" %>
<% indications = "" %>
<% item_class = "#{type}-item"%>

<% blur_filter = 'filter: blur(2px); opacity:0.8;' if item_status == "To unlocked" %>
<% indications = item.unlocked_condition if item_status == "To unlocked" %>

<div class= market-item-card <%=data_bs_target.html_safe%> <%=data_bs_toggle.html_safe%> title="<%=indications.html_safe%>">
  <%= image_tag item.img_src, class: item_class, style: blur_filter.html_safe%>
  <p><%=item.name %></p>
  <% if item_status == "Already bought"%>
    <div class="price" style="background-color:#F0FCF8;">
      <p style="color:#6DDEB8;">Déja obtenu</p>
    </div>
  <% elsif item_status == "To buy" %>
    <div class="price">
      <p><i class="fas fa-coins"></i></p>
      <p><%= item.price %></p>
    </div>
  <% else %>
    <div class="item-to-unlock">
      <p>A débloquer</p>
    </div>
  <% end %>
</div>
