<% banner_classes = 'class = "banner height-100vh"' %>
<% if user_signed_in? %>
  <% banner_classes = 'class = "banner height-with-navbar"' %>
  <%= render "shared/navbar" %>
<% end %>

<div class="home" data-controller="home" data-url = <%=user_registration_url%>>
  <div <%=banner_classes.html_safe%>>
    <div class="flex-align">
      <div class= "site-header">
        <div class= "text-icon-header">
          <%= image_tag "greek-helmet-100.png", height: 80, width: 80 %>
          <div class= "text-header">
            <h1>Learn for Life</h1>
            <p>Apprendre en s'amusant & retenir à vie</p>
          </div>
        </div>
        <div class="game-images">
          <%= image_tag "homepage/capture-subtheme.PNG", id: "img1" %>
          <%= image_tag "homepage/Capture-quizz-level.PNG", id: "img2" %>
          <%= image_tag "homepage/capture-question.PNG", id: "img3" %>
          <%= image_tag "homepage/capture-record.PNG", id: "img4" %>
          <%= image_tag "homepage/Capture_sprite_advanced_hero_borderless.PNG", id: "img5" %>
        </div>
      </div>

      <% if !user_signed_in? %>

        <div class= "sign-or-log-in", data-home-target="logIn">
          <h2>Connexion</h2>
          <div class="mb-4"></div>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }, html: {class: "design-form"})  do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          label: false,
                          placeholder: "Email",
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          label: false,
                          placeholder: "Mot de passe",
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, label: "Se souvenir de moi",  as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Se connecter", class:"btn btn-purple mb-3" %>
            </div>
          <% end %>
          <%= render "devise/shared/links", form_type: "log_in"  %>
        </div>

      <div class= "sign-or-log-in d-none", data-home-target="signIn">
        <h2>S'inscrire</h2>
        <div class="mb-4"></div>
        <%= render "devise/registrations/new" %>
        <%= render "devise/shared/links", form_type: "sign_in"  %>
      </div>

      <% else %>
      <div class = "d-flex flex-column align-items-center sign-or-log-in">
        <h2 class= "mb-4">Content de te revoir <%=@user.name%> !</h2>
        <button class= "avatar-container" data-sprite-target= "avatar" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop100">
          <%= image_tag @user.character.hair, class: "character-hair", "data-sprite-target": "hair" %>
          <%= image_tag @user.character.head, class: "character-head", "data-sprite-target": "head" %>
          <%= image_tag @user.character.body, class: "character-body", "data-sprite-target": "body" %>
          <%= image_tag @user.character.helmet, class: "character-helmet", "data-sprite-target": "helmet" %>
          <%= image_tag @user.character.weapon, class: "character-weapon", "data-sprite-target": "weapon" %>
          <%= image_tag @user.character.shield, class: "character-shield", "data-sprite-target": "shield" %>
        </button>
        <div class= "mt-4"></div>
        <button class="btn btn-purple"><%= link_to "Continuer à apprendre", themes_path %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>



<div class="container">
  <div class="rpg-description">
    <div class="my-5"></div>
    <h1>Une gamification dédiée à l'apprentissage</h1>
  </div>
  <div id= "idea-1" class= "idea">
    <div class="my-4"></div>
    <h2>Incarne un héro</h2>
    <div class="my-3"></div>
    <div class="box">
      <p> Retour en - 2 400 000 av. JC, le genre Homo fait son apparition. <br>Incarne et personalise un Homo Habilis au début de la préhistoire</p>
      <%= image_tag "homepage/Capture-perso-full.PNG" %>
    </div>
  </div>
  <div id= "idea-2" class= "idea">
    <div class="my-4"></div>
    <h2>Evolue à travers les âges </h2>
    <div class="my-3"></div>
    <div class="box">
      <p>  Collecte des couronnes et des sphères de connaissance avec ton héro pour évoluer à travers les périodes historiques. </p>
      <%= image_tag "homepage/Capture-crowns.PNG" %>
    </div>
  </div>
  <div class="my-3"></div>
  <div id= "idea-3" class= "idea">
    <div class="my-4"></div>
    <h2>Affronte les autres héros dans l'arène</h2>
    <div class="my-3"></div>
    <div class="box">
      <p> Remporte tes combats en développant les connaissances de ton héro et en développant des compétences uniques. </p>
      <%= image_tag "homepage/duel.PNG" %>
    </div>
  </div>

  <div class="learning-description">
    <div class="my-5"></div>
    <h1>Apprendre et se souvenir !</h1>
  </div>

  <div class="my-4"></div>
  <div id= "idea-1" class= "idea">
    <div class="my-4"></div>
    <h2>Un sytème de quizz adaptés à tous les niveaux</h2>
    <div class="my-3"></div>
    <div class="box">
    <p>Des thématique classées en sous-thème, allant des connaissances les plus générales aux plus pointues.<br>Chaque quizz a 3 niveaux de difficultés.</p>
      <%= image_tag "homepage/theme.PNG" %>
    </div>
  </div>
  <div class="my-3"></div>
  <div id= "idea-2" class= "idea">
    <div class="my-4"></div>
    <h2>Un sytème système de flashcard éprouvé</h2>
    <div class="my-3"></div>
    <div class="box">
      <p>Basé sur un alogrithme de répétitions espacées permettant d'optimiser l'apprentissage et la retention d'informations à long termes.</p>
      <%= image_tag "homepage/capture-courbe-retention.PNG" %>
    </div>
  </div>
  <div id= "idea-3" class= "idea">
    <div class="my-4"></div>
    <h2>Des astuces et moyens mnémotechniques à découvrir</h2>
    <div class="my-3"></div>
    <div class="box">
      <p> Pourquoi tout le monde se souvient de la célebre phrase:<br>"Mais ou est donc Ornicar ?" ... </p>
    </div>
  </div>
</div>


<hr class="horizontal-divider width-80 my-5 mx-auto">

<div class="home-end-sentence">
  <p>
    En bref, apprendre mieux, de façon ludique, pour longtemps.
  </p>
</div>


<%= render "shared/footer" %>
