<div data-controller="sprite">
  <%= render 'shared/character_banner' %>
  <div class="theme-title theme-show">
    <h1>Marchand</h1>
  </div>
  <div class="container market" data-controller="market-display">
    <div class="market-banner">
      <button class="btn-tab tab active-tab" data-market-display-target="equipementTab" data-action="click->market-display#displayTab">
        <h2>Equipements</h2>
      </button>
      <button class="btn-tab tab" data-market-display-target="questTab" data-action="click->market-display#displayTab">
        <h2>Quêtes</h2>
      </button>
    </div>

    <div class="market-type" data-market-display-target="equipement">
      <% @all_types.each do |type|  %>
        <div class="title">
          <h2><%= type %></h2>
        </div>
        <% character_items_type = @character_items.select{|e| e.item_type == type && e.level.level != 1}  %>
        <%# <% character_items_type_bought = character_items_type.select{|e| current_user.user_character_items.find_by(character_item: e).bought}  %>
        <%# <% character_items_type_unlocked = character_items_type.select{|e| current_user.user_character_items.find_by(character_item: e).unlocked} %>
        <%# <% character_items_type_locked = character_items_type.select{|e| !current_user.user_character_items.find_by(character_item: e).unlocked} %>
        <%# <% character_items_type_sorted = character_items_type_unlocked +  character_items_type_bought + character_items_type_locked%>
        <% img_style = "" %>
        <div class="container">
          <div class="items-list">
            <% character_items_type.each do |character_item| %>
              <%= render "market-item", item: character_item, type: type %>
              <%= render "market-item-modal", item: character_item %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="market-type d-none" data-market-display-target="quest">
      <div class="title">
        <h2>Quêtes</h2>
      </div>
      <div class="container">
        <p><strong> Les quêtes sont en cours d'écriture, en attendant continues de d'entrainer et de faire évoluer ton personnage !</strong></p>
      </div>
    </div>
  </div>


  <%= render "shared/character_info_modal" %>

  <%= render "shared/footer" %>
</div>
