<%= render 'shared/character_banner' %>
<div class="theme-title theme-show">
  <h1>Statistiques</h1>
</div>

<div class="container">
  <div class="global-stats my-5">
    <div class="stat-box purple">
      <%= image_tag "sphere.png" %>
      <div class="title-number">
        <h2>Sphères gagnées</h2>
        <p>100</p>
      </div>
    </div>
    <div class="stat-box purple">
      <%= image_tag "crown.png" %>
      <div class="title-number">
        <h2>Couronnes gagnées</h2>
        <p>100</p>
      </div>
    </div>

    <div class="stat-box green">
      <p><i class="fas fa-copy"></i></p>
      <div class="title-number">
        <h2>Flashcards gagnées</h2>
        <p>100</p>
      </div>
    </div>
    <div class="stat-box orange">
      <p><i class="fas fa-copy"></i></p>
      <div class="title-number">
        <h2>Flashcards apprises</h2>
        <p>100</p>
      </div>
    </div>
  </div>
</div>
<div class="theme-title theme-show">
  <h1>Succès</h1>
</div>



<div class="container" data-controller="success-display">
  <div class="success market-banner">
    <div class="tab active-tab" data-success-display-target="globalTab" data-action="click->success-display#displayGlobalOrTheme">
      <h2>Globaux</h2>
    </div>
    <div class="tab" data-success-display-target="themeTab" data-action="click->success-display#displayGlobalOrTheme">
      <h2>Thématique</h2>
    </div>
  </div>
  <div class="success-category" data-success-display-target="global" >
    <div class="title">
      <h2>Globaux</h2>
    </div>
    <div class="container">
      <div class="items-list">
        <% global_achievements = Achievement.where(achievement_category: "global") %>
        <% global_achievements.each do |achievement| %>
          <%= render "achievement-item", achievement: achievement %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-none" data-success-display-target="theme">
    <% Theme.all.each do |theme| %>
      <div class="success-category">
        <div class="title">
          <h2><%= theme.name %></h2>
        </div>
        <div class="container">
          <div class="items-list">
            <% global_achievements = Achievement.where(achievement_category: theme.name) %>
            <% global_achievements.each do |achievement| %>
              <%= render "achievement-item", achievement: achievement %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class= my-5></div>

<%= render "shared/character_info_modal" %>
