<div class="levels-display">
  <% quizz.quizz_levels.each do |level| %>
    <% @user_quizz_level_progress_unlocked = is_unlocked_for_user?(level, "quizz_level", current_user) %>
    <%= render "link_display", level: level %>
    <%=link_to @level_path do%>
      <div <%=@level_hovering.html_safe%>>
        <% unless @user_quizz_level_progress_unlocked || !@user_quizz_progress_unlocked %>
          <%= render "set_lock_and_blur", for_: "quizz_level" %>
        <% end %>
        <div <%= @level_blur_style %>>
          <%= render "level_stars", level: level %>
          <%= level.name %>
        </div>
        <%= render "level_crowns", level: level %>
      </div>
    <% end %>
  <% end %>
</div>
