<div data-controller="subtheme-show">
  <div class="theme-title subtheme-show">
    <h1><i class="fas fa-atlas"></i><%=@subtheme.name.upcase%></h1>
  </div>

  <div class="container subtheme-show">
    <div class="category">
      <% @subtheme.categories.order(:ordering).each do |category| %>
        <div class="my-3"></div>
        <div class="category-separator">
          <%= image_tag category.img_src, height: 30 %>
          <h2><%= category.name.upcase %></h2>
        </div>
        <div class="my-3"></div>
        <div class="card-objective">
          <%= image_tag "quest2.png" %>
          <p> <%=category.objective.html_safe%> </p>
        </div>
        <div class="my-3"></div>
        <div class="quizzs-display">
          <% category.quizzs.order(:ordering).includes([:quizz_levels]).each_with_index do |quizz, index| %>
            <% @user_quizz_progress_unlocked = is_unlocked_for_user?(quizz, "quizz", current_user) %>
            <%= render "quizz_separator", index: index %>
            <div class="quizz-card">
              <%= render "shared/card_display", quizz: quizz, in_modal: false %>
              <%= render "shared/level_display", quizz: quizz, in_modal: false %>
            </div>
              <%= render "shared/quizz_records_modal", quizz: quizz, js_controller: "subtheme-show" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% sentence = "
  <h2>Gagne de l'expérience en remportant de nouvelles couronnes : </h2>
  <br>
  <p>- 1 couronne : 90% de bonnes réponses</p>
  <p>- 2 couronnes : 100% de bonnes réponses</p>
  <p>- 3 couronnes: 100% de bonnes réponses en un certain temps</p>
  "
  %>
<%= render "shared/user_indications", sentence: sentence %>

<%= render "shared/footer" %>
