<div class="container subtheme-show">
  <div class="theme-title my-5">
    <h1><%=@subtheme.name%></h1>
  </div>
  <div class="category">
    <% @subtheme.categories.each do |category| %>
      <div class="category-separator my-5">
        <h2><%= category.name.upcase %></h2>
      </div>
      <div class="card-objective mb-3">
        <%= image_tag "quest2.png" %>
        <p> <%=category.objective%> </p>
      </div>
      <div class="quizzs-display">
        <% category.quizzs.each_with_index do |quizz, index| %>
          <% @user_quizz_progress_unlocked = is_unlocked_for_user?(quizz, "quizz", current_user) %>
          <%= render "quizz_separator", index: index %>
          <div class="quizz-card">
            <%= render "card_display", quizz: quizz %>
            <%= render "level_display", quizz: quizz %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
