<div data-controller="subtheme-show">
  <div class="theme-title subtheme-show">
    <h1><i class="fas fa-atlas"></i><%=@subtheme.name.upcase%></h1>
  </div>

  <div class="container subtheme-show">
    <div class="category">
      <% @subtheme.categories.each do |category| %>
        <div class="my-3"></div>
        <div class="category-separator">
          <%= cl_image_tag category.photo.key, height: 30 %>
          <h2><%= category.name.upcase %></h2>
        </div>
        <div class="my-3"></div>
        <div class="card-objective">
          <%= image_tag "quest2.png" %>
          <p> <%=category.objective%> </p>
        </div>
        <div class="my-3"></div>
        <div class="quizzs-display">
          <% category.quizzs.each_with_index do |quizz, index| %>
            <% @user_quizz_progress_unlocked = is_unlocked_for_user?(quizz, "quizz", current_user) %>
            <%= render "quizz_separator", index: index %>
            <div class="quizz-card">
              <%= render "shared/card_display", quizz: quizz %>
              <%= render "shared/level_display", quizz: quizz %>
            </div>
              <%= render "shared/quizz_records_modal", quizz: quizz %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
