<%= render 'shared/title_banner', quizz: @quizz, quizz_level: @quizz_level %>

<div class="my-3"></div>
<div class="level-show" data-controller="quizz-answer" data-stimulus-connect-count = 0>
  <div class="questions_count">
    <div class="card-count-details">
      <div class="card-progressbar-wrapper">
        <div title="card-count" class="progressbar card-completion"  data-quizz-answer-target = "cardCountBar"></div>
      </div>
      <div class= "card-number">
        <p data-quizz-answer-target = "cardCountNumber">0/<%= @quizz.question_answers.count %></p>
      </div>
    </div>
  </div>
  <div class="my-3"></div>
  <div class="display-record-time">
    <div class="current-record">
      <% best_record = BestRecord.where(quizz_level: @quizz_level).joins(:record).where(record: {user: current_user}).first %>
      <% if user_record = best_record&.record %>
        <div class="crown-display">
          <%= render "shared/crowns", crown_class: "completed-crown", number: user_record.completion, level: @quizz_level %>
          <%= render "shared/crowns", crown_class: "uncompleted-crown", number: 3-user_record.completion, level: @quizz_level %>
        </div>
        <div class="score-time-display">
          <p class="time-display"><i class="fa-solid fa-stopwatch"></i><%= seconds_to_minutes(user_record.seconds_duration) %>s</p>
          <p class="ms-2"><%= user_record.score_percentage %>%</p>
        </div>
      <% end %>
    </div>
    <div class="yellow-container">
      <p><i class="fa-solid fa-stopwatch"></i></p>
      <p data-quizz-answer-target="seconds">00</p>
      <p class="d-none"data-quizz-answer-target="tens"></p>
      <p>s</p>
    </div>
    <div class="good-bad-answer-count">
      <div class="good-count">
        <i class="fas fa-check-circle"></i>
        <p data-quizz-answer-target="goodAnswerCount">0</p>
      </div>
      <div class="bad-count">
        <i class="fas fa-times-circle"></i>
        <p data-quizz-answer-target="badAnswerCount">0</p>
      </div>
    </div>
  </div>
  <div class="my-3"></div>
  <div class="container">
    <%@quizz.question_answers.each_with_index do |question_answer, index| %>
      <% if index !=0 %>
        <% question_class = 'class = "questions d-none"' %>
      <% else %>
        <% question_class = 'class = "questions"' %>
      <% end %>
      <div <%= question_class.html_safe %> data-quizz-answer-target = <%="questionCard#{index}"%>>
        <div class = "card-question">
          <h2><%=question_answer.question %></h2>
          <% if question_answer.image_src %>
            <% if @quizz.category.name == "Drapeaux" %>
              <% img_path = "world_flags" %>
            <% elsif @quizz.category.name == "Localisation"%>
                <% img_path = "world_localisations" %>
            <% end %>
            <%= image_tag "#{img_path}/#{question_answer.image_src}" %>
          <% end %>
        </div>
        <%# ANSWER DIV %>
        <div class= "answer-div my-4">
          <% answer_class = (@suggested_question_answers_id ? "class = 'answer'" : 'class = "answer align-answers"')  %>
          <div <%= answer_class.html_safe %>
              data-good-answer-id = <%= question_answer.id %>
              data-question-id = <%=question_answer.id%>
              data-quizz-answer-id = <%=@quizz_answer.id%>
              data-quizz-level = <%=@quizz_level.name%>
              data-question-number = <%=index%>
              data-total-questions = <%=@quizz.question_answers.count%>
              data-answer-url = <%= quizz_answer_user_answers_url(@quizz_answer) %>
              data-record-url = <%= quizz_answer_records_url(@quizz_answer) %>
              >
            <% if @suggested_question_answers_id %>
              <% @suggested_question_answers_id[question_answer.id.to_s.to_sym].each do |suggested_question_answer_id| %>
                <button class="card-answer"
                  <%= "data-quizz-answer-target = 'goodAnswer#{index}'".html_safe%>
                  data-action="click->quizz-answer#checkAnswer"
                  data-user-answer-id = <%= suggested_question_answer_id %>
                  data-user-answer = <%= @quizz.question_answers.find(suggested_question_answer_id).answer %>>
                  <h2><%= @quizz.question_answers.find(suggested_question_answer_id).answer %></h2>
                </button>
              <% end %>
            <% else %>
              <div>
                <%= simple_form_for([@quizz_answer,@user_answer], data: {action:"submit->quizz-answer#checkAnswer"}) do |f| %>
                  <%= f.input :answer, label: false, placeholder: 'Votre réponse', input_html: {data: {quizz_answer_target: "form#{index}"}, class: "border-radius"} %>
                  <%= f.button :submit, "Valider", class: "btn btn-purple my-4 margin-auto" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div data-quizz-answer-target = "endButtonDisplay" >
    </div>
  </div>
</div>
