<div class="container level-show" data-controller="quizz-answer" data-stimulus-connect-count = 0>
  <div class="mt-5 mb-3 level-show-banner">
    <%= cl_image_tag @quizz.category.photo.key, height: 50 %>
    <div class="quizz-level-title">
      <h2><%= "#{@quizz.name.upcase} - #{@quizz_level.name.capitalize}" %></h2>
      <% @stars_count.times do %>
        <%= image_tag 'star1.png' %>
      <% end %>
    </div>
  </div>
  <hr class="horizontal-divider">
  <div class="questions_count mt-2">
    <div class="card-count-details">
      <div class="card-progressbar-wrapper">
        <div title="card-count" class="progressbar card-completion"  data-quizz-answer-target = "cardCountBar"></div>
      </div>
      <div>
        <p data-quizz-answer-target = "cardCountNumber">0/10</p>
      </div>
    </div>
    <div class="timer">
      <%= image_tag 'sablier1.png', height: 32 %>
      <p data-quizz-answer-target="seconds">00</p>
      <%# <p>:</p> %>
      <p class="d-none"data-quizz-answer-target="tens"></p>
      <p>s</p>
    </div>
  </div>
  <div class="questions my-5">
    <%@quizz.question_answers.each_with_index do |question_answer, index| %>
      <% if index !=0 %>
        <% question_class = 'class = "card-question d-none"' %>
      <% else %>
        <% question_class = 'class = "card-question"' %>
      <% end %>
      <div <%= question_class.html_safe %> data-quizz-answer-target = <%="questionCard#{index}"%>>
        <h2><%=question_answer.question %></h2>
        <hr class="horizontal-divider-light">
        <div class="answer"
            data-good-answer-id = <%= question_answer.id %>
            data-question-id = <%=question_answer.id%>
            data-question-number = <%=index%>
            data-total-questions = <%=@quizz.question_answers.count%>>
          <% @suggested_question_answers_id[question_answer.id.to_s.to_sym].each do |suggested_question_answer_id| %>
            <div class="card-answer"
              <%= "data-quizz-answer-target = 'goodAnswer#{index}'".html_safe if suggested_question_answer_id == question_answer.id %>
              data-action="click->quizz-answer#checkAnswer"
              data-user-answer-id = <%= suggested_question_answer_id %>>
              <h2><%= @quizz.question_answers.find(suggested_question_answer_id).answer %></h2>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
